<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ImageProcessor MyGet" value="https://www.myget.org/F/imageprocessor/api/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="ImageProcessor MyGet" value="https://www.myget.org/F/imageprocessor/api/v3/index.json" />
  </activePackageSource>
  <disabledPackageSources />
</configuration>